.expense_form {
    width: 100%;
}

.new-expense_control {
    margin-bottom: 20px;
}

.new-expense_control label {
    display: block;
    margin-bottom: 7px;
}

.new-expense_control input {
    width: 100%;
    outline: none;
    border: 0;
    padding: 10px;
    border-radius: 5px;
}

.new-expense__actions {
    text-align: right;
}

.new-expense__actions button{
    outline: none;
    border: 0;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 12px 20px;
    margin-left: 10px;
}

.add_expense {
    border: 0;
    outline: none;
    padding: 10px 20px;
    background-color: cornflowerblue;
    border-radius: 5px;
    color: white;
}